ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
.username{
    font-size: 14px;
    font-weight: bold;
}
.card{
   box-shadow: 1px 10px 58px 0px rgba(0,0,0,0.20);
   border-radius: 15px;
   padding: 20px;
   margin-bottom: 35px;
}

.card content{
  padding-top: 20px;
}

.container-center{
   width: 100%;
   padding: 10px;
   text-align: center;
}

.container{
   width: 100%;
   padding: 10px;
}

.column {
   float: left;
   width: 33.33%;
   padding: 5px;
   text-align: center;
   font-weight: bold;
 }
 
 /* Clear floats after image containers */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 .img-profile{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   object-fit: cover;
 }

 .content{
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .bold{
   font-weight: bold;
 }

 .reactions{
   border-radius: 10px;
   height: 70px;
   width: 100%;
   object-fit: cover;
 }



 .button{
  width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #b9ff66;
    height: 40px;
    border-radius: 15px;
 }


 .bottom-div {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    text-align: center;
    padding:20px;
}