ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
.username{
    font-size: 14px;
    font-weight: bold;
}
.card{
   box-shadow: 1px 10px 58px 0px rgba(0,0,0,0.20);
   border-radius: 15px;
   padding: 20px;
   margin-bottom: 35px;
}

.card content{
  padding-top: 20px;
}

.container-center{
   width: 100%;
   padding: 10px;
   text-align: center;
}

.container{
   width: 100%;
   padding: 10px;
}

.column {
   float: left;
   width: 33.33%;
   padding: 5px;
   text-align: center;
   font-weight: bold;
 }
 
 /* Clear floats after image containers */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 .img-profile{
   width: 50px;
   height: 50px;
   border-radius: 100%;
   object-fit: cover;
 }

 .content{
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .bold{
   font-weight: bold;
 }

 .reactions{
   border-radius: 10px;
   height: 70px;
   width: 100%;
   object-fit: cover;
 }

 .button{
   width: 100%;
   text-align: center;
   font-weight: bold;
   color: rgb(0, 86, 247);
 }

 .button-blue{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 86, 247);
  background-color: white;
  border: 1px solid rgb(0, 86, 247);
  height: 40px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .button-green{
  width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #b9ff66;
    height: 40px;
    border-radius: 15px;
 }

 .img-reaction{
  border-radius: 100%;
  height: 70px;
  width: 70%;
  object-fit: cover;
}

.center{
  text-align: center;
}
